.authBox {
    padding-top: 75px;
    margin: 0 auto;
    width: 300px;

    .loginTitle {
        text-align: center;
    }

    .signupLink {
        margin-top: 15px;
        text-align: center;
    }
}

