
@import "./sass/variable.scss";

html, body {
    background: $background-color;
    height: 100%;
    margin: 0;
    position: relative;
}

.notFound {
    margin-top: 75px;
    text-align: center;

    img {
        height: 250px;
        width: 300px;
        margin-top: 25px;
    }
}