
// page colors 
$primary-color: #1E90FF;
$background-color: #F5F5F5;

// text colors
$dark-text: #2F4F4F;
$light-text: #F5F5F5;

// fonts
// $title-font: 'Concert One', cursive;
$text-font: 'Josefin Sans', sans-serif;
$title-font: 'Prosto One', cursive;

$footer-height: 50px;
