@import "../../sass/variable.scss";

.homeBox {
    margin: 0 auto;
    margin-top: 20vh;
    width: 300px;
    font-family: $text-font;

    button {
        font-size: 1.3em;
        font-weight: bold;
    }
}