@import "../../sass/variable.scss";

.profilePage {
    margin: 0 auto;
    margin-top: 25px;

    .noUser {
        width: 280px;
        text-align: center;
        margin: 0 auto;
        margin-top: 50px;

        .loginBtn {
            margin-top: 25px;
        }
    
        .loginLink {
            color: $light-text;
        }
    
        .loginLink:hover {
            text-decoration: none;
        }

        #loadingIcon {
            height: 200px;
            width: 200px;
            margin: 0 auto;
            // margin-top: 25px;
        }
    }

    .profileBox {
        #userTitle {
            text-align: center
        }
    }
}